.home {
  width: 100%;
  min-height: 80vh;
  background: $black;
  overflow-x: hidden;
  color: $white;
  text-align: center;
  h1 {
    margin: 0;
  }
}

.parallax {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, $black, transparent);
    z-index: 10;
  }
  .home-button{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 8;
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
    top: 0;
    left: 0;
  }
}
img#moon {
  z-index: 1;
}
h1 {
  z-index: 6;
}
img#mountains_behind {
  z-index: 3;
}
img#mountains_front {
  z-index: 4;
}
