.form-container {
  width: 100%;

  form {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 10px;
  }
}
.input-container {
  margin-bottom: 10px;

  span {
    margin-left: 15px;
    color: red;
  }
  div {
    padding-bottom: 10px;
  }
  input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid $gray;
  }
}
.form-button {
  text-align: center;
  button {
    margin: 0 auto;
  }
  h4 {
    margin: 10px auto;
    cursor: pointer;
    span {
      color: $blue;
      font-size: 1.2rem;
    }
  }
}

.login-container {
  width: 100%;

  form {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 10px;
  }
}
.form-section {
  position: relative;
  input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid $gray;
    margin: 15px 0;
    transition: all 0.3s ease;
    &:focus {
      border: 1px solid $blue;
    }
  }
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }
}

.form-section input:focus + label,
.form-section input:valid + label {
  top: 15px;
  font-size: 0.8rem;
  background: $white;
}
