.nav{
    width: 100%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: $black;
    color: $white;
}
.nav-logo{
    width: 10%;
    color: $red;
    cursor: pointer;
}
.nav-search{
    width: 50%;
    input{
        width: 85%;
        height:35px;
    } 
    button{
        width:15%;
        height:35px;
        vertical-align:middle;
    }  
}
.nav-user{
    width: 30%;
    display: flex;
    color: inherit;
    div{           
            margin-left:20px;
        }
    }
.cart{
    position: relative;
    
}
.cart-badge{   
    position: absolute;
    top: -15px;
    right: -10px;
    color: $red;
}